OPENAI_API_KEY=""
WHATSAPP_API_URL=""
WHATSAPP_API_AUTHORIZATION=""
DEFAULT_ADMIN=""
OFFICE_LONGITUDE=""
OFFICE_LATITUDE=""
OFFICE_ADDRESS=""
DATABASE_URL=""
NON_ASYNC_DATABASE_URL=""
ASSEMBLYAI_API_KEY=""
POLLY_ACCESS_KEY_ID=""
POLLY_SECRET_ACCESS_KEY=""
POLLY_REGION_NAME=""
S3_BUCKET_URL=""
S3_BUCKET_ACCESS_KEY_ID=""
S3_BUCKET_SECRET_ACCESS_KEY=""
S3_REGION_NAME=""
TOGETHERAI_API_KEY=""
QDRANT_URL=""
QDRANT_API_KEY=""
MONGODBATLAS_URI""